<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
            </basicHttpBinding>
            <netMsmqBinding>
                <binding name="NetMsmqBinding_Contract.IMsmqService">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.10.221/WebSphereWorkflowService_deploy/WebSphereWFService.xamlx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="ServiceReference1.IService" name="BasicHttpBinding_IService" />
            <endpoint address="net.msmq://localhost/private/MsmqService/MsmqWorkflowService.xamlx"
                binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_Contract.IMsmqService"
                contract="MSMQServiceReference.ContractIMsmqService" name="NetMsmqBinding_Contract.IMsmqService" />
        </client>
    </system.serviceModel>
</configuration>